<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Header</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DancingScript" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ZillaSlab" />
  <link rel="stylesheet" href="/css/Header.css" />
</head>

<body>
  <header>
    <p><img src="/assets/img/emilfigge.png" alt="Header Bild" /></p>
  </header>
  <nav>
    <a href="/" style="color: #000000">
      <div class="logo">
        <p><img class="logo" src="/assets/img/logo.png" alt="Logo" /></p>
      </div>
      <h1 class="primary">SteakHolder</h1>
    </a>
    <ul>
      <li><a href="">Räume</a></li>
      <li><a href="">Gebäude</a></li>
    </ul>
  </nav>
</body>

</html>
