<header>
  <p><img src="/assets/img/emilfigge.png" alt="Header Bild"/></p>
</header>
<nav>
  <a routerLink="/corona" style="color: #000000">
    <div class="logo">
      <p><img class="logo" src="/assets/img/logo.png" alt="Logo"/></p>
    </div>
    <h1 class="primary">SteakHolder</h1>
  </a>
  <ul>
    <li><a routerLink="/corona">Corona Status</a></li>
    <li><a href="/buildings">Gebäude</a></li>
    <li><a routerLink="/weather">Wetter</a></li>
    <li><a routerLink="/aktorenlog">Aktoren</a></li>
  </ul>
</nav>
