<div class="container">
  <h3>Verfügbare Räume</h3>
  <div class="info">
    <div class="box">
      <div class="green"></div>
      <p>0-50%</p>
    </div>
    <div class="box">
      <div class="orange"></div>
      <p>51-99%</p>
    </div>
    <div class="box">
      <div class="red"></div>
      <p>100%</p>
    </div>
  </div>
  <div [ngClass]="getNgStyle(room)" *ngFor="let room of rooms">
    <p>{{room.name}}</p>
    <img src="{{room.img_url}}" alt="room" width="300px">
    <p>{{room.description}}</p>
    <i class="fa fa-refresh" aria-hidden="true"></i>
  </div>
</div>
