.container {
  display: flex;
  flex-direction: column;
  width: 77%;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-size: 1.5rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.room {
  width: 80%;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.3rem;
  align-items: center;
}

h3 {
  margin: 1rem;
}

img {
  border-radius: 0.3rem 0 0 0.3rem;
}

.empty {

  background-color: rgba(144, 238, 144, 0.57);
}

.full {
  background-color: rgba(234, 11, 11, 0.57);
}

.mid {
  background-color: rgba(250, 81, 2, 0.57);
}

.room p {
  margin-left: 2rem;
}

.room i {
  margin-right: 3rem;
  margin-left: auto;

}

.room i:hover {
  cursor: pointer;
}

.info {
  display: flex;
}

.box {
  display: flex;
  margin-right: 2rem;
  align-items: center;
}


.green {
  width: 2rem;
  height: 2rem;
  background-color: rgba(144, 238, 144, 0.57);
  margin-right: 0.2rem;
  border-radius: 5rem;
}

.orange {
  width: 2rem;
  height: 2rem;
  background-color: rgba(250, 81, 2, 0.57);
  margin-right: 0.2rem;
  border-radius: 5rem;

}

.red {
  width: 2rem;
  height: 2rem;
  margin-right: 0.2rem;
  background-color: rgba(234, 11, 11, 0.57);
  border-radius: 5rem;

}


