<div class="container">

  <div class="building">
    <a routerLink="/rooms"> <img src="../../assets/img/informatik.webp" alt="building_foto" width="300px">
    </a>
    <h2>Informatik ({{building[0].name}})</h2>
  </div>

  <div class="building">
    <img src="../../assets/img/wirtschaft.webp" alt="building_foto" width="300px">
    <h2>Wirtschaft</h2>
  </div>

  <div class="building">
    <img src="../../assets/img/arch.webp" alt="building_foto" width="300px">
    <h2>Architektur</h2>
  </div>
</div>
